## INSERT INTO

In [ ]:
-- Insert values into all columns
INSERT INTO table_name 
VALUES (val1, val2, val3); 

-- Insert values into specific columns
INSERT INTO table_name (col1, col2, col3)
VALUES (val1, val2, val3);

## UPDATE

In [ ]:
-- Update records in the dataset
UPDATE table_name 
SET column1 = 'content', column2 = 'content', column3 = 00
WHERE index_column = 00; 

-- Example 
UPDATE Customers
SET ContactName = 'Alfred Schmidt', City= 'Frankfurt'
WHERE CustomerID = 1;

## DELETE

In [ ]:
-- Delete records given conditions
DELETE FROM table_name 
WHERE condition; 

-- Example
DELETE FROM Customers
WHERE CustomerName = 'Alfreds Futterkiste'; 


-- Delete all records in a table
DELETE FROM table_name; 

-- Example
DELETE FROM Customers; 


-- Delete a table
DROP TABLE table_name;

## SELECT TOP 5 records using LIMIT

In [ ]:
SELECT column_name FROM table_name
WHERE condition 
LIMIT 5;

## Aggregate Functions

In [ ]:
SELECT MAX(column_name)
FROM table_name
WHERE condition; 

SELECT MIN(column_name)
FROM table_name
WHERE condition; 

SELECT COUNT(column_name)
FROM table_name
WHERE condition; 

SELECT SUM(column_name)
FROM table_name
WHERE condition; 

SELECT AVG(column_name)
FROM table_name
WHERE condition;

## BETWEEN & IN

In [ ]:
SELECT * FROM table_name
WHERE column_name BETWEEN 10 AND 20; 

SELECT * FROM Products
WHERE Price BETWEEN 10 AND 20; 
SELECT * FROM Products
WHERE Price NOT BETWEEN 10 AND 20; 

-- Between with in
SELECT * FROM Products
WHERE Price BETWEEN 10 AND 20
AND CategoryID IN (1, 2, 3); 

-- Select strings with a range BETWEEN
SELECT * FROM Products
WHERE ProductName BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Giovanni'
ORDER BY ProductName; 

-- Select dates with a range BETWEEN
SELECT * FROM Orders
WHERE OrderDate BETWEEN '1991-01-01' AND '1996-12-31';